.container {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
}

.cell {
    display: grid;
    /* border: 2px solid black; */
    text-align: center;
    align-content: center;
}

[data-row = "1"]{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
[data-col = "1"]{
    border-left: 2px solid black;
    border-right: 2px solid black;
}